<h1>Welcome to our HOME PAGE!</h1>
<div>
    {{username}}
</div>
<p>We are the best at what we do!</p>

<div>
    <a href="/about">Go to ABOUT page!</a>
</div>
<div>
    <a href="/login">Go to LOGIN page!</a>
</div>
